nav a{
    color: #fff;
    font-size: 25px;
   
}
nav a:hover{
    color: #fff;
    
}
nav a:link{
    text-decoration: none;
}

#formulario{
    
    width: 500px;
    margin: auto;
    padding-top: 100px;
    

}

    
    
    

div{
    padding-top: 10px;
}
#botao {
    text-align: center;
    
}
#btn{
  
    width: 380px;
}
.navbar-light .navbar-nav .nav-link{
    color:  #fff;
}
